@model LearnDash.Dal.Models.LearningFlow

@{
    ViewBag.Title = "Remove";
}

<h2>Remove</h2>
<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>LearningFlow</legend>

    <div>
         @Html.DisplayNameFor(model => model.Name)
    </div>
    <div>
        @Html.DisplayFor(model => model.Name)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.HiddenFor(model => model.ID)
    <p>
        <button type="submit" class="btn btn-warning"><i class="icon-remove icon-white"></i>  Delete</button> |
        <a href="@Url.Action("Index","home")" class="btn"><i class="icon-chevron-left"></i> Back</a>
    </p>
}
