@model LearnDash.Dal.Models.LearningFlow

@Html.Partial("_RoundaboutView", Model)

<div class="clear-both"></div>
<div>
    <button id="btnComplete" class="btn btn-success"><i class="icon-ok icon-white"></i>  Complete</button>
</div>

<script type="text/javascript">
    var currentNextChildIndex = 0;
    
    var nextTask;
    var currentTask;
    
    $(function() {

        // if there is only one task, hide complete button
        if ($('.flow-task').length <= 1) {
            $('#btnComplete').hide();
        }

        $('#btnComplete').click(function() {

            // hide button so user is not able to click him again - could be replaced by loading overlay
            $(this).hide();

            currentTask = $('.flow-next');
            var newId = nextTask.attr("data-id");

            CompleteTask('@Model.ID', newId, "@Url.Action("CompleteTask", "LearningFlow")",
                function () {
                    if (IsTheLastTask()) {
                        SetFirstTaskAsNext();
                    } else {
                        SetNextTaskAsNext();
                    }
                });
            
            // todo : this has to be in succes function from ajax call
            // if operation is finished show the complete button
            $(this).show();
        });
    });
    
    function IsTheLastTask() {
        return currentNextChildIndex >= $('.flow-task').length - 1;
    }
    
    function SetFirstTaskAsNext() {
        currentNextChildIndex = 0;
        nextTask = $(".flow-task").first();
        ToogleNextClass(nextTask, currentTask);
    }
    
    function SetNextTaskAsNext() {
        currentNextChildIndex++;
        nextTask = currentTask.next();
        ToogleNextClass(nextTask, currentTask);
    }
    
    function ToogleNextClass(next,current) {
        next.addClass("flow-next");
        current.removeClass("flow-next");
    }

</script>
