@model LearnDash.Dal.LearningFlow

@Html.Partial("_RoundaboutView", Model)


<button id="btnComplete">Complete</button>
<script type="text/javascript">
    $(function () {

        $("#btnComplete").click(function () {
            $("#btnComplete").hide();
            currentNextChild++;
            var current = $(".flow-next");
            var currentTimesDone = current.attr("data-counter");
            current.attr("data-counter", ++currentTimesDone);
            if (currentNextChild >= $('.roundabout ul li').length - 1) {
                currentNextChild = 0;
                var next1 = $(".flow-task").first();
                next1.addClass("flow-next");
                current.removeClass("flow-next");
            }
            else {
                var next = current.next();
                next.addClass("flow-next");
                current.removeClass("flow-next");
            }

            $('.roundabout ul').roundabout("animateToNextChild", function () {
                $("#btnComplete").show();
            });

            SaveFlow('@Model.Id',"@Url.Action("Save", "LearningFlow")");
        });
    })
</script>