@model LearnDash.Dal.Models.LearningFlow

@Html.Partial("_RoundaboutView", Model)


<button id="btnComplete">Complete</button>
<script type="text/javascript">
    $(function () {
        if($(".flow-next").length <=1) {
            $("#btnComplete").hide();
        }
    
        $("#btnComplete").click(function () {

            $("#btnComplete").hide();
            currentNextChild++;
            var current = $(".flow-next");
            var next;

            var currentTimesDone = current.attr("data-counter");
            current.attr("data-counter", ++currentTimesDone);
            if (currentNextChild >= $('.roundabout ul li').length - 1) {
                currentNextChild = 0;
                next = $(".flow-task").first();
                next.addClass("flow-next");
                current.removeClass("flow-next");
            }
            else {
                next = current.next();
                next.addClass("flow-next");
                current.removeClass("flow-next");
            }

            $('.roundabout ul').roundabout("animateToNextChild", function () {
                $("#btnComplete").show();
            });

            var lastId = current.attr("data-id");
            var newId = next.attr("data-id");

            CompleteTask(lastId, newId, "@Url.Action("CompleteTask", "LearningFlow")");
        });
    })
</script>