@{
    ViewBag.Title = "About";
}

<h3>Little Description</h3>

<p>
This web app will help you manage your learning process. It looks like simple TODO list but there are hidden features that will greatly enchange your process.
I created this app beacuse i wanted to move my "learning management" idea from cork board to the web app. Web app gives more power and possibilities.
</p>

<p>
Current Version : 0.0.1.5
</p>
<p>
    <ul>
        <li>new list type and support for different types of lists</li>
        <li>abillity to change flow name</li>
        <li>refactorization</li>
        <li>bug-fixes</li>
    </ul>
</p>

<p>
Next Release : 0.0.2.0
</p>
<p>
    <ul>
        <li>BackLog list</li>
        <li>Importance data on task</li>
        <li>Usability changes</li>
    </ul>
</p>