@{
    ViewBag.Title = "Contact";
}

<h3>If you have any ideas, suggestions or bug reports, use Feedback feature on the left :)</h3>

You can contact me here:

<ul>
    <li>
        <a href="http://www.mfranc.com">www.mfranc.com</a>
    </li>
    <li>
        <a href="https://twitter.com/francmichal">twitter - francmichal</a>
    </li>
</ul>
