<script type="text/javascript">

    function openIdUrl(site) {
        var value = "";
        var autoClick = false;

        if (site == "google") {
            value = "https://www.google.com/accounts/o8/id";
            autoClick = true;
        }

        if (value) {
            var jText = $("#openid_identifier");
            jText.val(value)
            .focus();
            if (autoClick)
                $("#btnOpenIdLogin").trigger("click");
        }
    }

 </script>


@using (Html.BeginForm(new { Controller = "Account", Action = "OpenIdLogon" }))
{
    <fieldset >                             
        <div>
            <div>Click on one of the icons to login through your open id provider.</div>
            <input id="openid_identifier" name="openid_identifier" style="visibility:hidden;"/>             
            <input id="btnOpenIdLogin" type="submit" value="Login" style="visibility:hidden;"/>        
             
            <div id="divOpenIdIcons">
                <img src="@Url.Content("/Content/img/google.png")" onclick="openIdUrl('google')" title="Google" style="cursor: pointer" />
            </div>     
        </div>
    </fieldset>
} 

@if (ViewBag.Error != null)
{
    @ViewBag.Error
}
