<script type="text/javascript">

    $(function () {
        $("#passwordBox").keypress(function (e) {
            if (e.which == 13) {
                e.preventDefault();
                $("#div-error").empty();
                $("<span class='label label-important'>Click on provider</span>").appendTo("#div-error");
            }
        });


    });

    function openIdUrl(provider) {
        var value = "";

        if (provider == "google") {
            value = "https://www.google.com/accounts/o8/id";
        }
        else if (provider == "testaccount") {
            value = "testaccount";
        }

        if (value) {
            var jText = $("#openid_identifier");
            jText.val(value);
            $("#btnOpenIdLogin").trigger("click");
        }
    }

 </script>


@using (Html.BeginForm(new { Controller = "Account", Action = "OpenIdLogon" }))
{
    <fieldset >                             
        <div>
            <div>
                <span class="label label-warning">Alpha test - provide password and click on account provider</span>
            </div>
            <input id="passwordBox" name="passwordBox" />
            <input id="openid_identifier" name="openid_identifier" style="visibility:hidden;"/>             
            <input id="btnOpenIdLogin" type="submit" value="Login" style="visibility:hidden;"/>        
             
            <div id="divOpenIdIcons">
                <a onclick="openIdUrl('google')" class="btn">
                    <img height="20" width="20" src="@Url.Content("/Content/img/google.png")"  title="Google" style="cursor: pointer" />
                    Google
                </a>
                <a onclick="openIdUrl('testaccount')" class="btn">
                    <img height="20" width="20" src="@Url.Content("/Content/img/anonymous.png")"  title="Anonymous" style="cursor: pointer" />
                    Test Account
                </a>
            </div>     
        </div>
    </fieldset>
} 

<div id="div-error">
@if (ViewBag.Error != null)
{
    <span class="label label-important">@ViewBag.Error</span>
}
</div>
