@{
    ViewBag.Title = "Logout";
}

<h2>Logout</h2>

You have sucesfully logged out
<br />
<a href="@Url.Action("Index","home",new {@class="btn"})"><i class="icon-chevron-left icon-white"></i> Home</a>
