@using LearnDash.Controllers
@model ErrorType

@{
    ViewBag.Title = "Error";
    string message;
    switch (@Model)
    {
        case ErrorType.NotFound:
            message = "404 NotFound";
            break;
        default:
            message = "Unspecified Error";
            break;
    }
}

<h2>Error : @message</h2>
