@using Core
@using LearnDash.Controllers
@model Core.ErrorType

@{
    ViewBag.Title = "Error";
    string message;
    switch (@Model)
    {
        case ErrorType.NotFound:
            message = "404 NotFound";
            break;
        case ErrorType.Internal:
            message = "There was an error. Please leave a feedback.";
            break;
        default:
            message = "Unspecified Error";
            break;
    }
}

<h2>Error : @message</h2>
